<a href="https://colab.research.google.com/github/Tasogare-eng/Python_exercises/blob/main/basic14_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 練習問題001
次の変数を定義してprint関数で変数の内容とtype関数で変数の型を表示させてください
1. 変数xに10000を代入
2. 変数yに-10を代入
3. 変数priceに1000を代入
4. 変数totalに3450を代入

In [ ]:
x = 10000
print(x)
print(type(x))
y = -10
print(y)
print(type(y))
price = 1000
print(price)
print(type(price))
total = 3450
print(total)
print(type(total))

##002 練習問題
次の変数を定義してprint関数で変数の内容とtype関数で変数の型を表示させてください
1. 変数aに1.0を代入
2. 変数bに3.333を代入
3. 変数cに-2.0を代入
4. 変数piに3.1415を代入

In [ ]:
a = 10.0
print(a)
print(type(a))
b = 3.333
print(b)
print(type(b))
c = -2.0
print(c)
print(type(c))
pi = 3.1415
print(pi)
print(type(pi))

##003 練習問題
次の変数を定義してprint関数で変数の内容とtype関数で変数の型を表示させてください
1. 変数aに”Hello world”を代入
2. 変数bに’さようなら’を代入
3. 変数urlに"http://example.com"を代入
4. 変数msgに「吾輩は”猫”である」を代入(ダブルクォート(")はエスケープが必要)

In [ ]:
a = "Hello"
print(a)
print(type(a))
b = 'さようなら'
print(b)
print(type(b))
url = "http://example.com"
print(url)
print(type(url))
msg = "吾輩は\"猫\"である"
print(msg)
print(type(msg))

##004 練習問題
次の変数を定義してprint関数で変数の内容とtype関数で変数の型を表示させてください
1. 変数switch_onにTrueを代入
2. 変数payment_flagにFalseを代入

In [ ]:
switch_on = True
print(switch_on)
print(type(switch_on))
payment_flag = False
print(payment_flag)
print(type(payment_flag))

##005 練習問題
次の処理をコーディングして下さい<br>
リスト型の変数 languages にBasic、C、C++、Pythonを要素として作成します<br>
type関数を用いて型の確認を行います

In [ ]:
languages = ["Basic", "C", "C++", "Python"]
print(languages)
print(type(languages))

##006 練習問題
次の処理をコーディングして下さい<br>
前の問題のリストからインデックスを指定して全ての要素を取り出して表示します

In [ ]:
print(languages[0])
print(languages[1])
print(languages[2])
print(languages[3])

##007 練習問題
次の変数を定義してprint関数で表示し、type関数で自動的に型が変化することを確認して下さい
1. 変数ch_type1に1を代入
2. 変数ch_type1に5.03を代入
3. 変数ch_type1に”型変換”を代入
4. 変数ch_type1にTrueを代入

In [ ]:
ch_type1 = 1
print(ch_type1)
print(type(ch_type1))
ch_type1 = 5.03
print(ch_type1)
print(type(ch_type1))
ch_type1 = "型変換"
print(ch_type1)
print(type(ch_type1))
ch_type1 = True
print(ch_type1)
print(type(ch_type1))

##008 練習問題
次の処理をコーディングして下さい
1. 1000円の商品Aと3500円の商品Bを購入した時の合計額を計算して表示する
2. 10000円の商品Cと5000円の商品Dを購入した時の合計額を計算して表示する

「合計金額はxx円です。」とf文字列を用いて表示させる

In [ ]:
price_a  = 1000
price_b = 3500
total1 = price_a + price_b
print(f"合計金額は{total1}です")

price_c = 10000
price_d = 5000
total2 = price_c + price_d
print(f"合計金額は{total2}です")

##009 練習問題
次の処理をコーディングして下さい
1. 1000円の商品Aを3つ購入した時の合計額を計算して表示する
2. 1500円の商品Bを5つ購入した時の合計額を計算して表示する

「合計金額はxx円です。」とf文字列を用いて表示させる

In [ ]:
price_a  = 1000
total1 = price_a *3
print(f"合計金額は{total1}です")

price_b = 1500
total2 = price_b * 5
print(f"合計金額は{total2}です")

##010 練習問題
次の処理をコーディングして下さい
1. 1000円の商品Aを300円の割引で購入した時の支払い価格を計算して表示させます
2. 1500円の商品Bを150円の割引で購入した時の支払い価格を計算して表示させます

「合計金額はxx円です。」とf文字列を用いて表示させます

In [ ]:
price_a  = 1000
total1 = price_a + 300
print(f"合計金額は{total1}です")

price_b = 1500
total2 = price_b - 150
print(f"合計金額は{total2}です")

##011 練習問題
次の処理をコーディングして下さい
1. 合計金額が3000円でだったとき500円の商品Aをいくつ購入したかを計算して表示させます
2. 合計金額が10000円でだったとき2000円の商品Bをいくつ購入したかを計算して表示させます

type関数で型を確認します

In [ ]:
total1 = 3000
price_a = 500
qty1 = total1 / price_a
print(qty1)
print(type(qty1))

total2 = 10000
price_b = 2000
qty2 = total2 / price_b
print(qty2)
print(type(qty2))

##012 練習問題
次の処理をコーディングして下さい
1. 10000円で400円の商品Aをいくつ買えるかを表示させます
2. 15000円で3000円の商品Bをいくつ買えるかを表示させます

「購入可能数はxx個です。」とf文字列を用いて表示させます

In [ ]:
cash = 10000
price_a = 400
qty1 = cash / price_a
print(f"購入可能数は{qty1}です")

cash = 15000
price_b = 3000
qty2 = cash / price_b
print(f"購入可能数は{qty2}です")

##013 練習問題
次の処理をコーディングして下さい
1. 15枚のピザを5人で分けた時の残りの枚数を表示させます
2. 20個に分割した羊羹を6人で分けた時に残る個数を表示させます

「残りはxx個です。」とf文字列を用いて表示させます

In [ ]:
quantity1 = 15
pepole1 = 5
remains1 = quantity1 % pepole1
print(f"残りは{remains1}です")

quantity2 = 20
pepole2 = 6
remains2 = quantity2 % pepole2
print(f"残りは{remains2}です")

##014 練習問題
次の処理をコーディングして下さい
1. 2の10乗を計算して表示する
2. 半径5cmの円がある, 定数PI=3.14と定義して面積を表示する

「面積はxxcm2です。 」とf文字列を用いて表示させます

In [ ]:
a = 2 ** 10
print(a)

PI = 3.14
radius = 5
area = PI * radius ** 2
print(f"面積は{area}です")

##015 練習問題
次の処理をコーディングして下さい
1. 500円の商品Aを3つ, 800円の商品Bを5つ購入した時の合計額を計算して表示させます
2. 1500円の商品Cを5つ, 3000円の商品Dを3つ購入した時の合計額を計算して表示させます

「合計金額はxx円です。」とスペースを空けずに表示させます

In [ ]:
price_a = 500
price_b = 800
total1 = price_a * 3 + price_b * 5
print(f"合計金額は{total1}円です")

price_c = 1500
price_d = 3000
total2 = price_c * 5 + price_d * 3
print(f"合計金額は{total2}円です")

##016 練習問題
次の処理をコーディングして下さい
1. 1000 * 2 + 400 / 10 - 5 * 2 ** 3の結果を表示させます
2. (100 + 300) * 3 / 4 // 100の結果を表示させます

どのような順番で計算されるのか()を使って見やすくして下さい

In [ ]:
print(1000 * 2 + 400 / 10 - 5 * 2 ** 3)
print((1000 * 2) + (400 / 10) - (5 * (2 ** 3)))

print((100 + 300) * 3 / 4 // 100)
print((((100 + 300) * 3) / 4) // 100)

##017 練習問題
次の処理をコーディングして下さい
1. 文字列：”合計は”,文字列：”1000”, 文字列：”円です。”を＋演算子で結合して表示させます
2. 文字列：”＊”を掛け算を用いて10個表示させます

In [ ]:
print("合計は" + "1000" + "円です")

print("＊" * 10)

##018 練習問題
次の処理をコーディングして下さい
1. 1000円の商品Aを2回購入する
2. 500円の商品Bを3回購入する

購入ごとに累算代入演算子を用いて合計金額を表示させます

In [ ]:
price_a = 1000
total1 = 0
total1 += price_a
total1 += price_a
print(total1)

price_b = 500
total2 = 0
total2 += price_b
total2 += price_b
total2 += price_b
print(total2)

##019 練習問題
次の処理をコーディングして下さい
1. 500円の商品Aを3回購入する
5000円から購入ごとに累算代入演算子を用いて残金を表示させます
2. 1500円の商品Bを2回購入する10000円から購入ごとに累算代入演算子を用いて残金を表示させます

In [ ]:
price_a = 500
cash1 = 5000
cash1 -= price_a
cash1 -= price_a
cash1 -= price_a
print(cash1)

price_b = 1500
cash2 = 10000
cash2 -= price_b
cash2 -= price_b
cash2 -= price_b
print(cash2)

##020 練習問題
次の処理をコーディングして下さい
1. 変数 a = 10 と b = 10 が等しいことを判定し、結果Trueを出力させてください
2. 変数 x = 15 と y = 20 が異なることを判定し、結果Trueを出力させてください

In [ ]:
a = 10
b = 10
print(a == b)

x =15
y = 20
print(x != y)

##021 練習問題
次の処理をコーディングして下さい
1. 変数 num1 = 25 が num2 = 18 より大きいことを判定しTrue を出力させてください
2. 変数 a = 7 が b = 12 より小さいことを判定しTrue を出力させて下さい

In [ ]:
num1 = 25
num2 = 18
print(num1 > num2)

a = 7
b = 12
print(a < b)

##022 練習問題
次の処理をコーディングして下さい
1. 変数 x = 50 が y = 50 以上であることを判定しTrue を出力させてください
2. 変数 m = 8 が n = 20 以下であることを判定しTrue を出力させてください

In [ ]:
x = 50
y = 50
print(x >= y)

m = 8
n = 20
print(m <= n)

##023 練習問題
次の処理をコーディングして下さい
1. 変数 s1 = “apple” と s2 = “apple” が同じ文字列であることを判定し結果を出力させて下さい
2. 変数 word1 = "hello" と word2 = "world" が異なる文字列であることを判定し結果を出力させて下さい

In [ ]:
s1 = "apple"
s2 = "apple"
print(s1 == s2)

word1 = "hello"
word2 = "world"
print(word1 != word2)

##024 練習問題
次の処理をコーディングして下さい
1. リスト list1 = [1, 2, 3] と list2 = [1, 2, 3] の内容が完全に一致することを判定し結果を出力させて下さい
2. リスト items1 = [“a”, “b”, “c”] と items2 = [“a”, “b”, “d”] が異なることを判定して結果を表示させて下さい

In [ ]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
print(list1 == list2)

items1 = ["a", "b", "c"]
items2 = ["a", "b", "d"]
print(items1 != items2)

##025 練習問題
次の処理をコーディングして下さい
1. 変数 fruits = [“apple”, “banana”, “cherry”, “grape”] に “banana” が含まれていることをを判定し結果を表示して下さい
2. 変数 numbers = [10, 20, 30, 40, 50] に 25 が含まれていなことを判定し結果を表示して下さい

In [ ]:
fruits = ["apple", "banana", "cherry", "grape"]
print("banana" in fruits)

numbers = [10, 20, 30, 40, 50]
print(25 not in numbers)

##026 練習問題
次の処理をコーディングして下さい
1. 変数 x = 45, y = 200 のとき、x が100以下かつ y が200以上を判定し結果を表示して下さい
2. 変数 name1 = "Yamada"、name2 = "Suzuki" のとき、name1 が "Yamada" かつ name2 が "Suzuki" である場合に True を出力するプログラムを作成してください

In [ ]:
x = 45
y = 200
print(x <= 100 and y >= 100)

name1 = "Yamada"
name2 = "Suzuki"
print(name1 == "Yamada" and name2 == "Suzuki")

##027 練習問題
次の処理をコーディングして下さい
1. 変数 x = 8、y = 12 のとき、x または y のどちらかが 10 以上であることを判定し結果を表示して下さい
2. 変数 word1 = “dog”、word2 = “cat” のとき、word1 が “dog” または word2 が “rabbit” であることを判定して結果を表示して下さい

In [ ]:
x = 8
y = 12
print(x > 10 or y > 10)

word1 = "dog"
word2 = "cat"
print(word1 == "dog" or word2 == "rabbit")

##028 練習問題
次の処理をコーディングして下さい
1. 変数 num = 11 のとき、num が 10 以下 でない 場合に True を出力させてください
2. 変数 animal = “elephant” のとき、animal が “dog” で ない 場合に True を出力させて下さい

In [ ]:
num = 11
print(not(num < 10))

animal = "elephant"
print(not(animal == "dog"))

##029 練習問題
次の処理をコーディングして下さい
1. 変数 num に任意の整数が代入されています。num が０である場合に “ゼロです” と出力します
2. 変数 age に年齢（整数）が代入されています。age が 18 以上なら “成人”、そうでなければ “未成年” と出力して下さい

In [ ]:
num = 0
if num == 0:
    print("ゼロです")

age = 18
if age >= 18:
    print("成人")
else:
    print("未成年")

##030 練習問題
次の処理をコーディングして下さい
1. 変数 num1 に任意の整数が代入されています。num1 が 0 以上なら “ゼロまたは正の数”、0 未満なら “負の数” と出力して下さい
2. 変数 num2 に任意の整数が代入されています。num2 が偶数である場合に “Even”、奇数の場合に"Odd" と出力して下さい

In [ ]:
num1 = 0
if num1 >= 0:
    print("ゼロまたは正")
else:
    print("負の数")

num2 = 2
if num2 % 2 == 0:
    print("Even")
else:
    print("Odd")

##031 練習問題
次の処理をコーディングして下さい
変数 temp に摂氏の温度が代入されています
以下の基準で出力させてください
- 30 度以上なら "Hot"
- 20 以上なら "Warm"
- 10 以上なら "Cool"
- それ未満なら "Cold"

In [ ]:
temp = 15
if temp >= 30:
    print("Hot")
elif temp >= 20:
    print("Warm")
elif temp >= 10:
    print("Cold")
else:
    print("Cool")

##032 練習問題
次の処理をコーディングして下さい
1. num が 3 の倍数で、さらに num が 7 の倍数なら “21倍数”、そうでなければ “21の倍数以外です” を出力させて下さい
2. is_member が Trueで、さらに amount が 10000なら “送料無料”、そうでなければ “送料500円” を出力させて下さい。さらにis_memberがFalseの場合は"会員ではありません"と表示させて下さい

In [ ]:
num = 21
if num % 3 == 0:
    if num % 7 == 0:
        print("21の倍数です")
    else:
        print("21の倍数以外です")

is_member = False
amount = 500
if is_member:
    if amount > 10000:
        print("送料無料")
    else:
        print("送料500円")
else:
    print("会員ではありません")

##033 練習問題
次の処理をコーディングして下さい
1. 文字列”Hello”を5回表示させて下さい
2. 20から30までの数字を表示させて下さい

In [ ]:
for _ in range(5):
    print("Hello")

for i in range(20, 31):
    print(i)

##034 練習問題
次の処理をコーディングして下さい
1. words = [“apple”, “banana”, “cherry”] というリストを作成し、リスト内のすべての要素を表示させて下さい
2. numbers = [12, 45, 23, 89, 56] というリストを作成し、要素の最大値を求めて出力させて下さい

In [ ]:
words = ["apple", "banana", "cherry"]
for word in words:
    print(word)

numbers = [12, 45, 23, 89, 56]
max_value = 0
for number in numbers:
    if number > max_value:
        max_value = number
print(max_value)

##035 練習問題
次の処理をコーディングして下さい<br >
○を5列x5行で表示させて下さい<br >
(ヒント)<br >
print関数で改行をさせないようにするにはprint関数にend=”を追加する
横に５個表示したら改行する

In [ ]:
for i in range(5):
    for j in range(5):
        print("◯", end="")
        if j >= 4:
            print()

##036 練習問題
次の処理をコーディングして下さい
1. numbers = [11, 99, 100, 103, 20] というリストの中で、最初に 100より大きい値が出たら break してループを終了させる
2. 1 から 100 までの整数を順番に出力するが10以上になればbreakしてループを終了させる

In [ ]:
numbers = [11, 99, 100, 103, 20]
for number in numbers:
    if number > 100:
        break
    print(number)

for i in range(1,101):
    if i == 10:
        break
    print(i)

##037 練習問題
次の処理をコーディングして下さい
1. 1 から 10 までの整数を for 文でループし、奇数の場合は continue を使ってスキップし、偶数のみを出力させて下さい
2. 1 から 20 までの整数を for 文でループし、3 の倍数のときは continue を使ってスキップし、それ以外の数値を出力させて下さい

In [ ]:
for i in range(1, 11):
    if i % 2 != 0:
        continue
    print(i)

for j in range(1, 21):
    if j % 3 == 0:
        continue
    print(j)

##038 練習問題
次の処理をコーディングして下さい
1. 変数 num を 1 に初期化し、10以上になるまでnum を出力し、1 ずつ増やしながら繰り返す処理を作成して下さい
2. 条件式でユーザーが “yes” と入力したのを判定してループを抜ける処理を作成して下さい

In [ ]:
num = 1
while num <= 10:
    print(num)
    num += 1

word = ""
while word != "yes":
    word = input("文字を入力して下さい")
print("yesが入力されました")

##039 練習問題
次の処理をコーディングして下さい
1. 標準入力から果物の名前を入力させて入力された果物を表示させます 「end」が入力されるとループを抜けます
2. 10 から 1 までカウントダウンし、最後に ”Go!!“ を出力してループを抜けます

In [ ]:
while True:
    word = input("果物を入力して下さい")
    if word == "end":
        break
    print(word)

count = 10
while True:
    print(count)
    if count == 1:
        print("Go!!")
        break
    count -= 1

##040 練習問題
次の処理をコーディングして下さい
1. print() を使って 5 + 3 の計算結果を出力するプログラムを書いてください
2. 変数 name = “田中” を定義し、print() を使って “私は田中です” という文を出力させて下さい(いくつか方法があります）

In [ ]:
print(5 + 3)

name = "田中"
print("私は"+name+"です")
print("私は", name, "です")
print(f"私は{name}です")

##041 練習問題
次の処理をコーディングして下さい
1. print() を使ってリストnumbers=[1,2,3,4,5]をスペース区切りで横１列に出力させて下さい
2. print() を使ってfruites=["Apple", "Banana", "Cherry"]をカンマ区切りで横１列に出力させて下さい

In [ ]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number, end=" ")

print()
fruits = ["Apple", "Banana", "Cherry"]
for fruit in fruits:
    print(fruit, end=",")

##042 練習問題
次の処理をコーディングして下さい
1. print() を使って “Python”, “Java”, “C++” を ハイフン（-）区切りで 出力させて下さい
2. print() を使って “Line1”, “Line2”, “Line3” を スペース区切りで出力させて下さい

In [ ]:
print("Python", "Java", "C++", sep="-")

print("Line1", "Line2", "Line3", sep=" ")

##043 練習問題
次の処理をコーディングして下さい
1. 標準入力から「100」を入力して値と型を表示させて下さい
2. 標準入力から「こんにちは」を入力して値と型を表示させて下さい

In [ ]:
number = input("数字を入力して下さい")
print(number)
print(type(number))

word = input("文字を入力して下さい")
print(word)
print(type(word))